.background {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/onePunchMan.png');
    background-clip: border-box;
    background-repeat: no-repeat;
    margin-top: -5rem;
}

.titleLogo {
    width: 30rem;
    margin-left: -15px;
}

.textContainer {
    margin-left: 2rem;
    padding-top: 10rem;
    max-width: 50%;
}

.text {
    width: 30rem;
    margin: 20px 0;
}

.flexButton {
    display: flex;
    gap: 10px;
}